{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "config": "./src/config",
          "data": "./src/data",
          "^@valet/(.+)": "./src/@valet/\\1",
          "^@app/(.+)": "./src/\\1"
        }
      }
    ]
  ]
}
