{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "config": "./src/config",
          "^@core/(.+)": "./src/@core/\\1",
          "^@app/(.+)": "./src/\\1"
        }
      }
    ]
  ]
}
